@import "" l;
body {
  background-color: rgb(214, 252, 82);
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  border: none;
  text-decoration: none;
  list-style: none;
  background: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 0px 15px;
}
.header .header__content {
  min-height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.header .menu-link {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.header .auth-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header .Sign-In {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.header .Sign-Up {
  color: #FFF;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding: 1px 21px 1px 19px;
  background-color: #000;
  border-radius: 10px;
}

.magical {
  min-height: 800px;
  margin-top: 93px;
  margin-bottom: 934px;
  padding: 0px 15px;
}
.magical .magical__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.magical .magical__title {
  color: #000;
  font-family: Manrope;
  font-size: 107px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 7px;
  text-align: center;
}
.magical .magical__paragraph {
  color: #000;
  font-family: Manrope;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 62px 45px;
}
.magical .button {
  padding: 15px 255px 15px 256px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
  background: #000;
  color: rgb(214, 252, 82);
  font-family: Manrope;
  font-size: 41px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 40px;
}
.magical .magical__trial {
  width: 386px;
  height: 28px;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.super_easy {
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 114px;
}
.super_easy .super__title {
  color: #000;
  font-family: Manrope;
  font-size: 101px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 7px;
  text-align: center;
  margin-bottom: 67px;
}
.super_easy .super__text {
  color: #000;
  font-family: Manrope;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.5px;
  text-align: center;
}

.meet {
  margin-bottom: 79px;
}
.meet .meet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.meet .meet__title {
  color: #000;
  font-family: Manrope;
  font-size: 106px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 7px;
  text-align: center;
}
.meet .button {
  padding: 15px 255px 15px 256px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
  background: #000;
  color: rgb(214, 252, 82);
  font-family: Manrope;
  font-size: 41px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 40px;
}
.meet .meet__trial {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.meet .img__hand {
  margin-top: 67px;
  margin-bottom: 40px;
}

.special {
  width: 100%;
  min-height: 196px;
  background-color: #000;
}

.special-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 196px;
}/*# sourceMappingURL=index.css.map */