body {
    background-color: $green;
    font-family: "Manrope", sans-serif;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
}