.meet {
    margin-bottom: 79px;
    .meet__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meet__title {
        color: $black;
        font-family: Manrope;
        font-size: 106px;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: 7px;
        text-align: center;

    }

    .button {
        padding: 15px 255px 15px 256px;
        border-radius: 15px;
        box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
        background: $black;
        color: $green;
        font-family: Manrope;
        font-size: 41px;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0.8px;
        text-align: center;
        margin-bottom: 40px;
    }

    .meet__trial {
        color: $black;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
    }

    .img__hand {
        margin-top: 67px;
        margin-bottom: 40px;
    }
}